# inciso A

In [75]:
FUENTES_DIR  = '../Fuentes'
DATOS_DIR    = '../Datos/' 
    
import sys
sys.path.append(FUENTES_DIR)
import pandas as pd
import numpy as np
from matplotlib import pylab as plt
from sklearn import model_selection,preprocessing
from ClassPerceptron import Perceptron

In [76]:
df = pd.read_csv(DATOS_DIR + "Hawks.csv")
df.head(20)

,Year,Species,Wing,Weight,Tail,Hallux,Coopers?,Red-tailed?,Sharp-shinned?
0,1992,RT,385.000000,920.000000,219,30.100000,0,1,0
1,1992,RT,381.000000,990.000000,235,31.300000,0,1,0
2,1992,CH,265.000000,470.000000,220,23.500000,1,0,0
3,1992,RT,370.000000,960.000000,212,30.100000,0,1,0
4,1992,RT,405.000000,1120.000000,238,30.200000,0,1,0
5,1992,RT,393.000000,1010.000000,222,30.800000,0,1,0
6,1992,RT,436.000000,1390.000000,232,34.000000,0,1,0
7,1992,RT,418.000000,1150.000000,238,31.000000,0,1,0
8,1992,RT,378.000000,910.000000,227,28.200000,0,1,0
9,1992,RT,396.000000,1010.000000,227,26.900000,0,1,0
10,1992,RT,399.000000,1070.000000,222,31.200000,0,1,0
11,1992,RT,416.000000,1190.000000,237,31.600000,0,1,0
12,1992,RT,415.000000,101.000000,238,30.700000,0,1,0
13,1992,RT,380.000000,990.000000,211,30.000000,0,1,0
14,1992,RT,401.000000,1190.000000,245,31.600000,0,1,0
15,1992,SS,205.000000,180.000000,164,15.000000,0,0,1
16,1992,RT,395.000000,1040.000000,207,31.400000,0,1,0
17,1992,RT,396.000000,1030.000000,200,29.700000,0,1,0
18,1992,RT,391.000000,1300.000000,215,32.400000,0,1,0
19,1992,RT,413.000000,1500.000000,219,31.300000,0,1,0

In [77]:
alaYcola = pd.DataFrame()
alaYcola['Ala']= df['Wing']
alaYcola['Cola'] = df['Tail']
alaYcola.head()

         Ala  Cola
0 385.000000   219
1 381.000000   235
2 265.000000   220
3 370.000000   212
4 405.000000   238

In [78]:
print(alaYcola.corr())

          Ala     Cola
Ala  1.000000 0.911765
Cola 0.911765 1.000000

# Correlación
<0.5 no hay

\>= 0.8 fuerte
sinó se dice débil

la correlación entre ala y cola es de 0.911765..., lo que indica que es una correlación fuerte positiva. Cuando el tamaño del ala aumenta, significa que las alas aumentan cuando la cola crece (casi siempre es así)

# Inciso B

In [79]:
hallux_list = []
for index, row in df.iterrows():
    hallux_list.append(row.Hallux)
hallux = np.array(hallux_list)#primero usamos una lista porque es más eficiente
hallux2D = hallux.reshape(-1, 1) #ponemos todo dentro de unos corchetes para que lo pueda manipular MinMaxScaler()
                                 
# Normaliza utilizando la media y el desvio
normalizador= preprocessing.StandardScaler()
hallux_normalizado2D = normalizador.fit_transform(hallux2D)
hallux_normalizado = hallux_normalizado2D.reshape(-1)
print(hallux_normalizado)

[ 4.06107099e-01  5.19424573e-01 -2.17139013e-01  4.06107099e-01
  4.15550221e-01  4.72208959e-01  7.74388892e-01  4.91095205e-01
  2.26687763e-01  1.03927166e-01  5.09981450e-01  5.47753942e-01
  4.62765836e-01  3.96663976e-01  5.47753942e-01 -1.01980446e+00
  5.28867696e-01  3.68334607e-01  6.23298925e-01  5.19424573e-01
  1.32256534e-01  7.10128123e+00 -6.13750174e-01  5.09981450e-01
  4.24993344e-01  3.77777730e-01  5.09981450e-01  5.28867696e-01
  1.00102384e+00  2.83821826e-02  6.51628294e-01 -1.38808625e+00
  3.11675870e-01  3.40005238e-01  8.02718260e-01  2.64460255e-01
  5.38310819e-01  5.38310819e-01  5.00538327e-01  6.42185171e-01
 -1.07646320e+00 -1.03869070e+00 -1.36920001e+00 -6.04307052e-01
  3.96663976e-01  5.28867696e-01  5.85526434e-01  1.88915272e-01
  3.77777730e-01  5.19424573e-01  7.55502646e-01 -1.03869070e+00
 -1.35031376e+00 -1.36920001e+00  3.87220853e-01 -1.07646320e+00
  3.11675870e-01 -1.47307436e+00 -1.79366521e-01  8.40490752e-01
 -3.11570242e-01  3.02232747e-01  3.02232747e-01  3.02232747e-01
  4.53322713e-01  6.42185171e-01  5.57197065e-01 -1.37864313e+00
 -6.04307052e-01  7.83832014e-01  4.81652082e-01 -1.34087064e+00
 -1.41641562e+00 -1.10479257e+00  5.19424573e-01  6.61071417e-01
  4.06107099e-01  4.15550221e-01 -1.35031376e+00  6.61546742e-02
  5.47753942e-01 -1.08590632e+00  1.51142780e-01  7.64945769e-01
  5.28867696e-01 -1.05757695e+00 -1.01036134e+00 -1.00091821e+00
  3.21118992e-01  5.66640188e-01  8.31047629e-01  2.92789624e-01
  5.28867696e-01  4.43879590e-01  4.81652082e-01  5.00538327e-01
  4.53322713e-01  6.23298925e-01  6.89400785e-01 -6.23193297e-01
  5.38263287e+00  6.70514540e-01  3.87220853e-01 -1.41641562e+00
  2.83346501e-01 -1.12367881e+00  2.73903378e-01  3.96663976e-01
  2.45574009e-01  5.38310819e-01 -1.18978067e+00 -1.36920001e+00
 -1.25588253e+00 -1.07646320e+00  6.42185171e-01 -5.09875823e-01
  4.15550221e-01  4.72208959e-01  3.11675870e-01 -1.12367881e+00
 -1.07646320e+00  1.51142780e-01  5.09981450e-01  3.77777730e-01
 -4.24887717e-01  3.77777730e-01  4.06107099e-01  5.94969556e-01
  4.15550221e-01  2.92789624e-01  4.34436467e-01  5.66640188e-01
  5.76083311e-01  4.81652082e-01  7.64945769e-01 -1.23699629e+00
  2.45574009e-01  2.83346501e-01  6.23298925e-01  6.04412679e-01
  6.23298925e-01  2.07801518e-01 -1.31254127e+00  4.72208959e-01
  6.42185171e-01 -9.39030901e-03  5.09981450e-01 -1.10479257e+00
  3.40005238e-01  5.76083311e-01  2.83346501e-01 -1.05757695e+00
  6.32742048e-01 -7.17624526e-01  5.19424573e-01  3.96663976e-01
  1.03927166e-01  5.85526434e-01 -5.47648314e-01 -1.33142751e+00
 -1.07646320e+00 -1.10479257e+00  4.24993344e-01 -1.37864313e+00
 -1.11423569e+00 -1.06702007e+00 -1.06702007e+00  4.06107099e-01
 -1.04813383e+00  3.58891484e-01  2.92789624e-01 -1.05757695e+00
 -1.35031376e+00  4.15550221e-01  3.58891484e-01  5.28867696e-01
  5.66640188e-01  5.85526434e-01  7.93275137e-01  7.46059523e-01
  2.83821826e-02  7.74388892e-01  6.98843908e-01  3.96663976e-01
 -1.11423569e+00  1.78480304e+00  5.94969556e-01 -1.02924758e+00
  4.72208959e-01  6.32742048e-01  3.96663976e-01 -1.10479257e+00
  5.19424573e-01  1.98358395e-01 -1.35975688e+00  7.17730154e-01
  4.91095205e-01  5.00538327e-01  3.68334607e-01  3.77777730e-01
  5.38310819e-01  5.85526434e-01  4.91095205e-01  3.49448361e-01
  5.66640188e-01 -5.66059235e-02  3.87220853e-01 -1.04813383e+00
 -2.73797750e-01 -1.34087064e+00  6.79957663e-01  5.28867696e-01
 -6.04307052e-01 -1.52973310e+00  4.24993344e-01  5.47753942e-01
  6.23298925e-01 -1.01980446e+00  7.36616400e-01  6.79957663e-01
  2.83346501e-01 -5.57091437e-01  3.87220853e-01 -9.72588845e-01
 -1.36920001e+00  5.76083311e-01  2.26687763e-01 -1.69923398e-01
  2.55017132e-01  6.98843908e-01  1.41699657e-01  6.42185171e-01
  2.64460255e-01  5.28867696e-01  7.36616400e-01  1.32209002e+00
  2.36130886e-01  6.32742048e-01  3.87220853e-01  3.87220853e-01
 -9.72588845e-01  3.02232747e-01  3.96663976e-01  5.43032381e-01
 -1.05757695e+00 -1.36920001e+00  4.06107099e-01  4.43879590e-01
 -1.32198439e+00  2.73903378e-01  8.21604506e-01 -1.09534944e+00
 -1.05757695e+00 -1.38808625e+00 -5.00432700e-01 -4.24887717e-01
  4.24993344e-01 -1.35975688e+00  6.98843908e-01  6.04412679e-01
 -6.70408912e-01  7.64945769e-01 -1.35031376e+00  2.73903378e-01
  3.40005238e-01  4.72208959e-01 -4.71628006e-02  5.76083311e-01
  3.68334607e-01 -9.63145722e-01  8.97149489e-01  4.06107099e-01
  5.47753942e-01  5.00538327e-01  8.68820121e-01 -1.11423569e+00
  9.44840429e-02  3.68334607e-01 -1.32198439e+00 -1.32198439e+00
  7.93275137e-01 -1.30309815e+00  6.23298925e-01  6.51628294e-01
 -9.82031968e-01  4.43879590e-01  7.08287031e-01  4.06107099e-01
  1.98358395e-01  4.91095205e-01  3.58891484e-01  4.91095205e-01
  4.62765836e-01 -1.34087064e+00  5.38310819e-01  8.40490752e-01
  4.24993344e-01 -1.03869070e+00  7.08287031e-01 -4.81546454e-01
  4.81652082e-01  2.26687763e-01 -1.29365502e+00  6.23298925e-01
  5.94969556e-01  2.55017132e-01 -1.60480275e-01  1.13370289e-01
  9.83978687e+00  3.96663976e-01 -1.09534944e+00  1.32209002e+00
 -1.00091821e+00 -1.35975688e+00 -1.03869070e+00  6.51628294e-01
  6.79957663e-01 -1.31254127e+00 -1.36920001e+00 -1.06702007e+00
 -4.53217085e-01 -5.28762068e-01 -1.37864313e+00  4.72208959e-01
  4.34436467e-01  5.76083311e-01  3.21118992e-01 -1.09534944e+00
 -1.39752938e+00 -1.39752938e+00 -1.32198439e+00 -1.06702007e+00
 -1.00091821e+00  6.51628294e-01 -1.41641562e+00 -1.51037152e-01
  1.51142780e-01 -1.02924758e+00  4.53322713e-01  6.61071417e-01
 -9.72588845e-01 -1.02924758e+00 -1.29365502e+00  4.43879590e-01
  5.57197065e-01 -9.91475090e-01 -1.04813383e+00  8.21604506e-01
 -1.51037152e-01  3.30562115e-01  5.00538327e-01  7.17730154e-01
  8.31047629e-01 -6.89295158e-01  8.02718260e-01  5.66640188e-01
  8.02718260e-01  4.43879590e-01  6.61071417e-01  1.60538371e+00
  1.70029026e-01 -1.09534944e+00  5.85526434e-01 -1.01980446e+00
  7.74388892e-01 -1.06702007e+00  4.34436467e-01 -1.02924758e+00
 -1.04813383e+00 -1.35031376e+00 -1.33142751e+00  4.43879590e-01
  1.60585903e-01  6.32742048e-01 -9.63145722e-01 -1.39752938e+00
  8.97149489e-01 -1.00091821e+00 -1.25588253e+00 -1.42585874e+00
  5.19424573e-01  7.08287031e-01  5.47753942e-01 -1.35975688e+00
  3.49448361e-01  4.24993344e-01  5.47753942e-01  7.17730154e-01
  6.04412679e-01  4.15550221e-01 -5.94863929e-01  1.22813412e-01
  5.66640188e-01 -1.04813383e+00  3.96663976e-01  3.02232747e-01
  4.06107099e-01 -1.02924758e+00  5.47753942e-01 -9.63145722e-01
 -1.06702007e+00  6.32742048e-01 -1.38808625e+00 -1.35031376e+00
 -1.03869070e+00 -1.36920001e+00 -1.88809644e-01 -1.05757695e+00
  4.81652082e-01  6.70514540e-01 -1.06702007e+00 -5.38205191e-01
 -1.35031376e+00 -6.04307052e-01 -1.37864313e+00 -1.02924758e+00
 -1.31254127e+00  7.64945769e-01  2.45574009e-01 -1.11423569e+00
 -4.24887717e-01  2.26687763e-01  2.64460255e-01  5.38310819e-01
 -1.37864313e+00 -5.75977683e-01  3.96663976e-01  3.02232747e-01
  3.21118992e-01 -1.35975688e+00  6.70514540e-01  2.26687763e-01
 -1.33142751e+00  5.47753942e-01 -1.26532565e+00  7.55502646e-01
  3.21118992e-01 -1.06702007e+00 -5.94863929e-01  3.96663976e-01
  6.51628294e-01  3.68334607e-01  2.83821826e-02 -1.01980446e+00
 -9.63145722e-01  4.53322713e-01  2.07801518e-01]

In [80]:
print(hallux)

[ 30.1   31.3   23.5   30.1   30.2   30.8   34.    31.    28.2   26.9
  31.2   31.6   30.7   30.    31.6   15.    31.4   29.7   32.4   31.3
  27.2  101.    19.3   31.2   30.3   29.8   31.2   31.4   36.4   26.1
  32.7   11.1   29.1   29.4   34.3   28.6   31.5   31.5   31.1   32.6
  14.4   14.8   11.3   19.4   30.    31.4   32.    27.8   29.8   31.3
  33.8   14.8   11.5   11.3   29.9   14.4   29.1   10.2   23.9   34.7
  22.5   29.    29.    29.    30.6   32.6   31.7   11.2   19.4   34.1
  30.9   11.6   10.8   14.1   31.3   32.8   30.1   30.2   11.5   26.5
  31.6   14.3   27.4   33.9   31.4   14.6   15.1   15.2   29.2   31.8
  34.6   28.9   31.4   30.5   30.9   31.1   30.6   32.4   33.1   19.2
  82.8   32.9   29.9   10.8   28.8   13.9   28.7   30.    28.4   31.5
  13.2   11.3   12.5   14.4   32.6   20.4   30.2   30.8   29.1   13.9
  14.4   27.4   31.2   29.8   21.3   29.8   30.1   32.1   30.2   28.9
  30.4   31.8   31.9   30.9   33.9   12.7   28.4   28.8   32.4   32.2
  32.4   28.    11.9   30.8   32.6   25.7   31.2   14.1   29.4   31.9
  28.8   14.6   32.5   18.2   31.3   30.    26.9   32.    20.    11.7
  14.4   14.1   30.3   11.2   14.    14.5   14.5   30.1   14.7   29.6
  28.9   14.6   11.5   30.2   29.6   31.4   31.8   32.    34.2   33.7
  26.1   34.    33.2   30.    14.    44.7   32.1   14.9   30.8   32.5
  30.    14.1   31.3   27.9   11.4   33.4   31.    31.1   29.7   29.8
  31.5   32.    31.    29.5   31.8   25.2   29.9   14.7   22.9   11.6
  33.    31.4   19.4    9.6   30.3   31.6   32.4   15.    33.6   33.
  28.8   19.9   29.9   15.5   11.3   31.9   28.2   24.    28.5   33.2
  27.3   32.6   28.6   31.4   33.6   39.8   28.3   32.5   29.9   29.9
  15.5   29.    30.    31.55  14.6   11.3   30.1   30.5   11.8   28.7
  34.5   14.2   14.6   11.1   20.5   21.3   30.3   11.4   33.2   32.2
  18.7   33.9   11.5   28.7   29.4   30.8   25.3   31.9   29.7   15.6
  35.3   30.1   31.6   31.1   35.    14.    26.8   29.7   11.8   11.8
  34.2   12.    32.4   32.7   15.4   30.5   33.3   30.1   27.9   31.
  29.6   31.    30.7   11.6   31.5   34.7   30.3   14.8   33.3   20.7
  30.9   28.2   12.1   32.4   32.1   28.5   24.1   27.   130.    30.
  14.2   39.8   15.2   11.4   14.8   32.7   33.    11.9   11.3   14.5
  21.    20.2   11.2   30.8   30.4   31.9   29.2   14.2   11.    11.
  11.8   14.5   15.2   32.7   10.8   24.2   27.4   14.9   30.6   32.8
  15.5   14.9   12.1   30.5   31.7   15.3   14.7   34.5   24.2   29.3
  31.1   33.4   34.6   18.5   34.3   31.8   34.3   30.5   32.8   42.8
  27.6   14.2   32.    15.    34.    14.5   30.4   14.9   14.7   11.5
  11.7   30.5   27.5   32.5   15.6   11.    35.3   15.2   12.5   10.7
  31.3   33.3   31.6   11.4   29.5   30.3   31.6   33.4   32.2   30.2
  19.5   27.1   31.8   14.7   30.    29.    30.1   14.9   31.6   15.6
  14.5   32.5   11.1   11.5   14.8   11.3   23.8   14.6   30.9   32.9
  14.5   20.1   11.5   19.4   11.2   14.9   11.9   33.9   28.4   14.
  21.3   28.2   28.6   31.5   11.2   19.7   30.    29.    29.2   11.4
  32.9   28.2   11.7   31.6   12.4   33.8   29.2   14.5   19.5   30.
  32.7   29.7   26.1   15.    15.6   30.6   28.  ]

In [81]:
estadistica = pd.DataFrame()
estadistica['medida']=["media", "desvío estándar", "minimo", "Q1", "Q2", "Q3", "RIC", "Maximo", "Bigote inferior", "Bigote superior"]
estadistica.head(10)

            medida
0            media
1  desvío estándar
2           minimo
3               Q1
4               Q2
5               Q3
6              RIC
7           Maximo
8  Bigote inferior
9  Bigote superior

In [82]:
def completarColumna(columna, arreglo):
    q3 = np.percentile(arreglo, 75)
    q1 = np.percentile(arreglo, 25)
    ric = q3 - q1
    bigote_inferior = q1 - 1.5 * ric
    bigote_superior = q3 + 1.5 * ric
    estadistica[columna] = [arreglo.mean(), arreglo.std(), arreglo.min(), q1, np.percentile(arreglo, 50), q3, ric, arreglo.max(), bigote_inferior, bigote_superior]
    
completarColumna("sin normalizar", hallux)
completarColumna("normalizado", hallux_normalizado)
estadistica['normalizado'] = estadistica['normalizado'].apply(lambda x: '{:.6f}'.format(x)) # para no ver los datos en notación científica
estadistica.head(10)

            medida  sin normalizar normalizado
0            media       25.799441    0.000000
1  desvío estándar       10.589717    1.000000
2           minimo        9.600000   -1.529733
3               Q1       15.150000   -1.005640
4               Q2       29.500000    0.349448
5               Q3       31.500000    0.538311
6              RIC       16.350000    1.543951
7           Maximo      130.000000    9.839787
8  Bigote inferior       -9.375000   -3.321566
9  Bigote superior       56.025000    2.854237

aclaraciones: 
El bigote inferior se extiende desde el primer cuartil (Q1) hasta el valor mínimo dentro del rango de normalidad, el cual va desde el límite inferior (q1 - 15*ric) hasta el límite superior (q3 + 15*ric).
Estamos calculando la desviación estándar, no la máxima. Esta medida conserva las unidades originales.

I. El valor de Q2 (lo mismo que la mediana) normalizado permite afirmar que la media y la mediana tienen valores cercanos.
    verdadero
    
II. El máximo valor de Hallux se encuentra a más de 9 desvíos por encima de la media.
    verdadero, se ve que está a 9.8 desvíos
    
III. Un hallux que mida más de 600 mm es considerado atípico extremo.
    verdadero. bigote sup + 1.5*ric = 80.5 -> los datos mayores a este número son atípicos extremos
    
IV. Un valor normalizado del atributo “hallux” de 2 se considerará un valor atípico extremo.
    Falso, ya que ni siquiera habríamos superado el bigote superior (no es nisiquiera un atípico)
    
V. En un gavilán es atípico que su hallux mida menos de 100 mm.
    Falso, la media es de menos de 100